doctype html
html
  head
    title 자원봉사 등록
  body
    h1 자원봉사 등록
    hr
    form(method='post')
      fieldset
        legend 자원봉사 관리
        table
          tr
            td
              label 일자
            td
              input(type='text', name='indate')
          tr
            td
              label 오더
            td
              input(type='text', name='ords')
        input(type='submit')
