doctype html
html(lang='en')
  head
    title 처방등록
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/script_opdord.js')

  body
    h1 처방등록
    hr
    form#target(method='post')
      fieldset
        legend 등록번호입력
        div.clear
        label 등록번호
        input#idno(type='text', name='idno')
        div.clear
        label 접수일자
        input#indate(type='text', name='indate', value='#{indate}')
        div.clear
        legend 확인항목
        label 진료과
        div.deptss
        div.clear
        legend 처방입력
        table#tblOrds
          tbody
            tr
              th(colspan='2') 약국
              th(colspan='3') 간호
              th(colspan='2') 치과
              th(colspan='2') 방사선
              th(colspan='5') 초음파
              th(colspan='4') 임상병리
            tr
              td 처방
              td 향정
              td 처치
              td 주사
              td 수술
              td 스켈링
              td 발치
              td 판독
              td 촬영
              td 복부
              td 부인
              td 갑상선
              td 심장
              td 기타
              td 자체
              td EKG
              td 기타
              td 의뢰
            tr
              td
                input.tblInput(type='Number', name='drug-order' value = 0)
              td
                input.tblInput(type='Number', name='drug-pastille' value = 0)
              td
                input.tblInput(type='Number', name='nurse-treatment' value = 0)
              td
                input.tblInput(type='Number', name='nurse-injection' value = 0)
              td
                input.tblInput(type='Number', name='nurse-operation' value = 0)
              td
                input.tblInput(type='Number', name='dentist-scaling' value = 0)
              td
                input.tblInput(type='Number', name='dentist-extraction' value = 0)
              td
                input.tblInput(type='Number', name='rediation-reading' value = 0)
              td
                input.tblInput(type='Number', name='rediation-shooting' value = 0)
              td
                input.tblInput(type='Number', name='ultrasonic-stomach' value = 0)
              td
                input.tblInput(type='Number', name='ultrasonic-gynecologist' value = 0)
              td
                input.tblInput(type='Number', name='ultrasonic-tyroid' value = 0)
              td
                input.tblInput(type='Number', name='ultrasonic-heart' value = 0)
              td
                input.tblInput(type='Number', name='ultrasonic-other' value = 0)
              td
                input.tblInput(type='Number', name='pathology-itself' value = 0)
              td
                input.tblInput(type='Number', name='pathology-ekg' value = 0)
              td
                input.tblInput(type='Number', name='pathology-other' value = 0)
              td
                input.tblInput(type='Number', name='pathology-request' value = 0)
      input(type='submit', value='저장')