doctype html
html
  head
    title 자원봉사코드 등록
  body
    h1 자원봉사코드 등록
    hr
    form(method='post')
      fieldset
        legend 자원봉사코드관리
        table
          tr
            td
              label 코드
            td
              input(type='text', name='vcode')
          tr
            td
              label 구분
            td
              input(type='text', name='gubun')
          tr
            td
              label 상세
            td
              input(type='text', name='detail')
          tr
            td
              label 상태
            td
              input(type='text', name='status')
          tr
            td
              label 순서
            td
              input(type='number', name='sqlno')
        input(type='submit')
